<div id="profielGrid">

    {{#profiel}}
      {{#imageSrc}}
        <img src="images/{{imageSrc}}">
      {{/imageSrc}}

      {{#menu}}
        <h2>{{menu}}</h2>
      {{/menu}}
    {{/profiel}}
    
</div>