<div id="profielGrid">
  {{#profiel}}
      
      {{#imageSrc}}
        <img src="images/{{imageSrc}}">
      {{/imageSrc}}

      {{#title}}
        <h2>{{title}}</h2>
      {{/title}}
  
  {{/profiel}}
</div>