<section id="rooster">
 	{{#rooster}}
		
    {{#lestitel}}
		  <h5>{{lestitel}}</h5>
    {{/lestitel}}
      
    {{#lesonderwerp}}
      <p>{{lesonderwerp}}</p>
    {{/lesonderwerp}}
                       
 	{{/rooster}}
 </section>